.news-promotion{
    text-align: center;
    padding: 80px 0 120px;
    background-color: #F5F5F5;
}

footer {
    text-align: center;
    padding: 60px 0 120px;
    background-color: #141414;
    color: #fff;
}