$font-main: "Gothic A1", sans-serif;
$font-sub: "Noto Sans KR", sans-serif;

$black: #000000;
$color-logo: #1d1d1b;
$color-line: #bcbcbc;
$color-hover-txt: #002bd2;
$color-hover-txt-sub: #2259f2;
$color-hover-form: #eeeeee;
$color-sub: #020202;
