@charset "UTF-8";
body {
  font-family: "Gothic A1", sans-serif;
}

.header {
  margin: 0 auto;
}

.row-wrap {
  padding: 0 20px;
  border-bottom: 1px solid #bcbcbc;
}

.header__row-sub {
  margin: 0 auto;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: end;
      -ms-flex-pack: end;
          justify-content: flex-end;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  max-width: 1412px;
}

.header__row-sub .form-search {
  border-left: 1px solid #bcbcbc;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  width: 340px;
  height: 40px;
}

.header__row-sub .form-search:hover {
  background-color: #eeeeee;
}

.header__row-sub .form-search:hover > .btn-search {
  color: #002bd2;
}

.header__row-sub .form-search .inp-search {
  margin-left: 20px;
  width: 220px;
  border: none;
  background: none;
}

.header__row-sub .form-search .btn-search {
  margin-right: 15px;
  border: none;
  background: none;
  font-size: 14px;
  font-stretch: condensed;
}

.header__row-sub .form-search .btn-search:hover {
  cursor: pointer;
}

.header__row-sub .menu-sub {
  padding-left: 30px;
  border-left: 1px solid #bcbcbc;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  height: 40px;
}

.header__row-sub .menu-sub li {
  font-family: "Noto Sans KR", sans-serif;
  font-weight: 700;
  font-size: 13px;
  margin-left: 30px;
}

.header__row-sub .menu-sub li:hover {
  color: #002bd2;
}

.compare::before, .wishlist::before {
  display: inline-block;
  content: "";
  width: 13px;
  height: 13px;
  margin-right: 5px;
}

.compare:hover:before, .wishlist:hover:before {
  -webkit-filter: invert(13%) sepia(100%) saturate(7267%) hue-rotate(233deg) brightness(160%) contrast(108%);
          filter: invert(13%) sepia(100%) saturate(7267%) hue-rotate(233deg) brightness(160%) contrast(108%);
}

.compare::before {
  background: url("../src/img/compare.png") center/14px 14px no-repeat;
}

.wishlist::before {
  background: url("../src/img/wishlist.png") center/14px 14px no-repeat;
}

.header__row-main {
  margin: 0 auto;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  line-height: 68px;
  max-width: 1412px;
  height: 60px;
  font-weight: 900;
}

.header__row-main h1 {
  font-size: 28px;
}

.gnb-menu__sub {
  display: none;
}

.gnb-main {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  font-size: 14.5px;
}

.gnb-main .gnb-menu {
  position: relative;
}

.gnb-main .gnb-menu:hover {
  color: #002bd2;
  cursor: pointer;
}

.gnb-main .gnb-menu:hover .gnb-menu__sub {
  display: block;
}

.gnb-main .gnb-menu:not(:first-of-type) {
  margin-left: 60px;
}

.gnb-menu__sub {
  padding: 25px 40px 25px 30px;
  position: absolute;
  top: 60px;
  right: 0;
  background-color: #282828;
  white-space: nowrap;
  font-size: 14px;
  font-weight: 400;
  line-height: 2.5em;
  color: white;
  z-index: 10;
}

.gnb-menu__sub .tit-menu__sub {
  margin-top: 20px;
  font-weight: 700;
  line-height: 3em;
}

.gnb-menu__sub li:hover {
  color: #2259f2;
}

.menu-drop {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  line-height: 3em;
}

.menu-drop .tit-drop {
  margin-right: 30px;
  padding-right: 30px;
  border-right: 1px solid #444444;
  width: 150px;
  font-weight: 700;
}

.menu-drop .tit-drop:hover {
  color: #2259f2;
}

.menu-drop .item-drop {
  margin-right: 15px;
}

.menu-drop .item-drop:hover {
  color: #2259f2;
}

.main-slide {
  position: relative;
  margin: 0 auto;
  max-width: 1412px;
  overflow: hidden;
}

.main-slide .txt-slide {
  padding: 0 20px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  position: absolute;
  top: 140px;
  left: 0;
  width: 30%;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}

.main-slide .txt-slide em {
  display: inline-block;
  font-size: 60px;
  line-height: 80px;
  width: 393px;
  letter-spacing: -3px;
  word-break: keep-all;
}

.main-slide .txt-slide strong {
  font-size: 70px;
  font-weight: 900;
  line-height: 150px;
}

.main-slide .main-shortcut {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  width: 270px;
  height: 120px;
  position: relative;
}

.main-slide .main-shortcut::after {
  position: absolute;
  display: inline-block;
  content: "▶";
  top: 10px;
  left: 80px;
  width: 28px;
  height: 28px;
  border-radius: 50%;
  font-size: 3px;
  text-align: center;
  line-height: 30px;
  color: white;
  background-color: #002bd2;
}

.main-slide .main-shortcut .img-shortcut {
  display: block;
  position: relative;
  margin: 10px;
  width: 100px;
  height: 100px;
  border-radius: 50%;
  -o-object-fit: cover;
     object-fit: cover;
}

.main-slide .main-shortcut .txt-shortcut {
  display: inline-block;
  width: 120px;
  color: #999;
  font-size: 13px;
  line-height: 20px;
  font-weight: 700;
  word-break: keep-all;
}

.main-slide .main-shortcut .txt-shortcut:hover {
  color: black;
}

.main-slide .btn-slide {
  margin-top: 210px;
  width: 200px;
}

.main-slide .btn-slide button {
  font-size: 19px;
  background: none;
  border: none;
  cursor: pointer;
}

.main-slide .btn-slide button:hover {
  color: #002bd2;
}

.main-slide .btn-slide button i {
  margin: 0 5px;
}

.main-slide .img-slide {
  float: right;
  width: 920px;
  height: 900px;
  -o-object-fit: cover;
     object-fit: cover;
  margin-top: 35px;
  z-index: -10;
}

.cont-chair {
  margin-top: 120px;
  border-top: 1px solid black;
}

.cont-chair__task, .cont-chair__kids, .cont-chair__interior {
  margin: 90px auto 0;
  padding: 0 10px;
  max-width: 1220px;
}

.cont-chair__task h3, .cont-chair__kids h3, .cont-chair__interior h3 {
  margin-bottom: 40px;
  display: inline-block;
  font-size: 34px;
}

.cont-chair__task .txt-more, .cont-chair__kids .txt-more, .cont-chair__interior .txt-more {
  float: right;
  font-size: 13px;
  color: #0028d2;
  padding-top: 15px;
}

.cont-chair__task .txt-more:hover, .cont-chair__kids .txt-more:hover, .cont-chair__interior .txt-more:hover {
  text-decoration: underline;
}

.list-chair, .list-chair.col3 {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  gap: 80px 100px;
  max-width: 1220px;
  text-align: center;
}

.list-chair li img, .list-chair.col3 li img {
  width: 100%;
  -o-object-fit: cover;
     object-fit: cover;
}

.list-chair li img:hover {
  opacity: 80%;
}

.list-chair li strong, .list-chair.col3 li strong {
  margin: 50px 0 20px;
  display: block;
  font-size: 45px;
  font-weight: 900;
}

.list-chair li em, .list-chair.col3 li em {
  font-size: 22px;
}

.list-chair {
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
}

.list-chair li {
  max-width: 560px;
}

.list-chair.col3 {
  -ms-flex-wrap: nowrap;
      flex-wrap: nowrap;
}

.list-chair.col3 li {
  max-width: 340px;
}

.cont-chair__interior {
  margin: 200px auto 120px;
}

.news-promotion {
  padding: 80px 0 120px;
  background-color: #F5F5F5;
}

.sect-news, .sect-insta, .sect-blog, footer .wrap-footer {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  margin: 0 auto;
  max-width: 1220px;
}

.sect-news {
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  margin-bottom: 80px;
  padding-right: 1em;
  background-color: #DDE6FF;
  height: 60px;
}

.sect-news h2 {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  width: 12%;
  height: 100%;
  background-color: #002BD2;
  color: #fff;
  font-size: 18px;
  font-weight: 700;
}

.sect-news p, .sect-news span {
  display: inline-block;
  font-size: 14px;
}

.sect-news p {
  margin-right: 1em;
  font-weight: 700;
}

.sect-news p:hover {
  text-decoration: underline;
}

.sect-news span {
  color: #555;
}

.sect-news .view-all {
  text-decoration: underline;
}

.sect-news .view-all:hover {
  color: #002bd2;
}

.sect-insta {
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}

.sect-insta .insta-feed {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  margin: 45px auto 95px;
}

.sect-insta .insta-feed img {
  margin-right: 20px;
  width: 228px;
  height: 228px;
}

.sect-insta .insta-feed img:hover {
  opacity: 90%;
}

.insta-account {
  position: relative;
  margin: 20px 0 0 60px;
  font-size: 18px;
  font-weight: 700;
}

.insta-account::before {
  content: 'SIIDIZ';
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  position: absolute;
  top: -20px;
  left: -70px;
  width: 50px;
  height: 50px;
  border-radius: 50%;
  background-color: #000;
  color: #fff;
  font-size: 11px;
  font-weight: 700;
}

.sect-blog strong {
  display: block;
  margin: 45px 0 25px 0;
  width: 330px;
  font-size: 30px;
  font-weight: 700;
  line-height: 1.5em;
  word-break: keep-all;
}

.sect-blog p {
  display: -webkit-box;
  margin-bottom: 30px;
  max-width: 390px;
  -webkit-line-clamp: 3;
  -webkit-box-orient: vertical;
  color: #555;
  font-size: 14.5px;
  line-height: 1.4em;
  overflow: hidden;
}

.sect-blog img {
  width: 620px;
  height: 350px;
  -o-object-fit: cover;
     object-fit: cover;
}

.sect-blog a {
  color: #002bd2;
  font-size: 13px;
  text-decoration: underline;
}

.insta-account.tip {
  margin-left: 45px;
  font-weight: 400;
}

.insta-account.tip:before {
  content: '';
  top: -6px;
  left: -45px;
  width: 30px;
  height: 30px;
  background: url("../src/img/blog.png");
}

@media screen and (max-width: 1024px) {
  .mb-hide {
    display: none;
  }
  .list-chair.col3 {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
  }
  .list-chair.col3 li {
    max-width: 560px;
  }
}

footer {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  padding: 70px 0 120px;
  background-color: #141414;
  color: #fff;
}

footer .wrap-footer {
  -webkit-box-pack: start;
      -ms-flex-pack: start;
          justify-content: flex-start;
}

footer .wrap-footer .footer-logo {
  display: block;
  margin-bottom: 40px;
}

footer .wrap-footer .info-company {
  width: 366px;
  font-size: 14px;
}

footer .wrap-footer strong {
  display: block;
  margin: 1.6em 0;
  font-size: 15px;
  font-weight: 700;
}

footer .wrap-footer dl {
  display: block;
  letter-spacing: -1px;
  font-size: 13px;
  margin-bottom: 10px;
}

footer .wrap-footer dl dt {
  float: left;
}

footer .wrap-footer dl dt::after {
  display: inline-block;
  content: '·';
  width: 3px;
  height: 3px;
  margin: 0 3px;
}

footer .wrap-footer .mt {
  margin-top: 30px;
}

footer .wrap-footer .last {
  margin-bottom: 50px;
}

footer .wrap-footer em {
  font-weight: 700;
}

.nav-info .footer-nav_sns {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  margin-bottom: 45px;
}

.nav-info .footer-nav_sns li {
  display: inline-block;
  margin-left: 25px;
}

.nav-info .footer-nav_sns li:first-child {
  margin-left: auto;
}

.nav-info .footer-nav_policy {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  font-size: 13px;
  text-decoration: underline;
}

.nav-info .footer-nav_policy .blue {
  margin-left: 74px;
  color: #1a59ff;
}

.nav-info .footer-nav_g > li {
  float: left;
  margin: 40px 65px 0 0;
  font-size: 15px;
  font-weight: 700;
  height: 120px;
}

.nav-info .footer-nav_g > li:last-child {
  margin-right: 0;
}

.nav-info .footer-nav_g > li ul, .nav-info .footer-nav_g > li p, .nav-info .footer-nav_g > li strong {
  display: block;
  font-size: 13px;
  font-weight: 400;
}

.nav-info .footer-nav_g > li ul {
  margin-top: 30px;
}

.nav-info .footer-nav_g > li ul li {
  margin-bottom: 1.2em;
}

.nav-info .footer-nav_g > li .contact {
  display: block;
  margin: 30px 0 30px 0;
  font-size: 24px;
}

.nav-info .footer-nav_g > li p {
  margin-bottom: 1.2em;
}

.nav-info .footer-nav_g > li .lunch {
  margin-bottom: 2.4em;
  color: #999;
  font-size: 12px;
}
/*# sourceMappingURL=style.css.map */