@charset "UTF-8";
body {
  font-family: "Gothic A1", sans-serif;
  height: 200vh;
}

.header {
  margin: 0 auto;
}

.row-wrap {
  padding: 0 20px;
  border-bottom: 1px solid #bcbcbc;
}

.header__row-sub {
  margin: 0 auto;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: end;
      -ms-flex-pack: end;
          justify-content: flex-end;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  max-width: 1412px;
}

.header__row-sub .form-search {
  border-left: 1px solid #bcbcbc;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  width: 340px;
  height: 40px;
}

.header__row-sub .form-search:hover {
  background-color: #eeeeee;
}

.header__row-sub .form-search:hover > .btn-search {
  color: #002bd2;
}

.header__row-sub .form-search .inp-search {
  margin-left: 20px;
  width: 220px;
  border: none;
  background: none;
}

.header__row-sub .form-search .btn-search {
  margin-right: 15px;
  border: none;
  background: none;
  font-size: 14px;
  font-stretch: condensed;
}

.header__row-sub .form-search .btn-search:hover {
  cursor: pointer;
}

.header__row-sub .menu-sub {
  padding-left: 30px;
  border-left: 1px solid #bcbcbc;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  height: 40px;
}

.header__row-sub .menu-sub li {
  font-family: "Noto Sans KR", sans-serif;
  font-weight: 700;
  font-size: 13px;
  margin-left: 30px;
}

.header__row-sub .menu-sub li:hover {
  color: #002bd2;
}

.header__row-sub .menu-sub li:hover::before {
  -webkit-filter: invert(10%) sepia(99%) saturate(4982%) hue-rotate(229deg) brightness(102%) contrast(117%);
          filter: invert(10%) sepia(99%) saturate(4982%) hue-rotate(229deg) brightness(102%) contrast(117%);
}

.compare::before, .wishlist::before {
  display: inline-block;
  content: "";
  width: 13px;
  height: 13px;
  margin-right: 5px;
}

.compare::before {
  background: url("../src/img/compare.png") center/14px 14px no-repeat;
}

.wishlist::before {
  background: url("../src/img/wishlist.png") center/14px 14px no-repeat;
}

.header__row-main {
  margin: 0 auto;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  line-height: 68px;
  max-width: 1412px;
  height: 60px;
  font-weight: 900;
}

.header__row-main h1 {
  font-size: 28px;
}

.gnb-menu__sub {
  display: none;
}

.gnb-main {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  font-size: 14.5px;
}

.gnb-main .gnb-menu {
  position: relative;
}

.gnb-main .gnb-menu:hover {
  color: #002bd2;
  cursor: pointer;
}

.gnb-main .gnb-menu:hover .gnb-menu__sub {
  display: block;
}

.gnb-main .gnb-menu:not(:first-of-type) {
  margin-left: 60px;
}

.gnb-menu__sub {
  padding: 25px 40px 25px 30px;
  position: absolute;
  top: 60px;
  right: 0;
  background-color: #282828;
  white-space: nowrap;
  font-size: 14px;
  font-weight: 400;
  line-height: 2.5em;
  color: white;
  z-index: 10;
}

.gnb-menu__sub .tit-menu__sub {
  margin-top: 20px;
  font-weight: 700;
  line-height: 3em;
}

.gnb-menu__sub li:hover {
  color: #2259f2;
}

.menu-drop {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  line-height: 3em;
}

.menu-drop .tit-drop {
  margin-right: 30px;
  padding-right: 30px;
  border-right: 1px solid #444444;
  width: 150px;
  font-weight: 700;
}

.menu-drop .tit-drop:hover {
  color: #2259f2;
}

.menu-drop .item-drop {
  margin-right: 15px;
}

.menu-drop .item-drop:hover {
  color: #2259f2;
}

.main-slide {
  position: relative;
  margin: 0 auto;
  padding-bottom: 120px;
  max-width: 1412px;
  overflow: hidden;
}

.main-slide .txt-slide {
  padding: 0 20px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  position: absolute;
  top: 140px;
  left: 0;
  width: 30%;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}

.main-slide .txt-slide em {
  display: inline-block;
  font-size: 60px;
  line-height: 80px;
  width: 393px;
  letter-spacing: -3px;
  word-break: keep-all;
}

.main-slide .txt-slide strong {
  font-size: 70px;
  font-weight: 900;
  line-height: 150px;
}

.main-slide .main-shortcut {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  width: 270px;
  height: 120px;
}

.main-slide .main-shortcut .img-shortcut {
  position: relative;
  margin: 10px;
  width: 100px;
  height: 100px;
  border-radius: 50%;
  -o-object-fit: cover;
     object-fit: cover;
}

.main-slide .main-shortcut .img-shortcut::after {
  display: inline-block;
  content: "▶";
  position: absolute;
  top: 0;
  left: 0;
  width: 28px;
  height: 28px;
  border-radius: 50%;
  font-size: 15px;
}

.main-slide .main-shortcut .txt-shortcut {
  display: inline-block;
  width: 120px;
  color: #999;
  font-size: 13px;
  line-height: 20px;
  font-weight: 700;
  word-break: keep-all;
}

.main-slide .main-shortcut .txt-shortcut:hover {
  color: black;
}

.main-slide .btn-slide {
  margin-top: 210px;
  width: 200px;
}

.main-slide .btn-slide button {
  font-size: 19px;
  background: none;
  border: none;
  cursor: pointer;
}

.main-slide .btn-slide button:hover {
  color: #002bd2;
}

.main-slide .btn-slide button i {
  margin: 0 5px;
}

.main-slide .img-slide {
  float: right;
  width: 920px;
  height: 900px;
  -o-object-fit: cover;
     object-fit: cover;
  margin-top: 35px;
  z-index: -10;
}

.list-chair {
  border-top: 1px solid black;
}
/*# sourceMappingURL=style.css.map */